<%= title("Repository: #{repository.canonical_name}") %>


<%= render("admin/repositories/repository_detail", :repository => repository) %>

<div class="row-fluid">
    <div class="span3">
        <%= minor_tabs(repository).html %>
    </div>

    <div class="span9">
        <div class="boxed-group">
            <h3>Collaborators</h3>

            <div class="boxed-group-inner">
                <%= link_to("Edit Collaborators", edit_admin_repository_collaboration_url(repository, :id => ""), :class => "btn btn-small btn-primary") %>
                <br/><br/>
                <table id="collaborators" class="table table-condensed">
                    <tr>
                        <th>Full Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Space Admin?</th>
                        <th>Permission</th>
                    </tr>
                    <tbody class="highlight">
                        <% administrators.each do |admin| %>
                            <tr id="<%= dom_id(admin) %>">
                                <td><%= h(admin.full_name) %></td>
                                <td><%= h(admin.username) %></td>
                                <td><%= h(admin.email) %></td>
                                <td><%= boolean_check_mark(true) %></td>
                                <td><%= Permission::COMMIT %></td>
                            </tr>
                        <% end %>

                        <% collaborations.each do |c| %>
                            <tr id="<%= dom_id(c) %>">
                                <td><%= h(c.user.full_name) %></td>
                                <td><%= h(c.user.username) %></td>
                                <td><%= h(c.user.email) %></td>
                                <td></td>
                                <td><%= h(c.permission) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
