- title('Account')
= account_major_tabs.html

%blockquote
  %p= current_user.name
  %p= current_user.username
%hr

= simple_form_for(current_user, :url => profile_path, :html => { class: 'form-horizontal' }) do |f|
  = f.input(:email)
  = f.input(:bio, :input_html => { rows: 7 })

  = form_actions do
    = save_button(f)
