= title(space_title(@space))
= link_to('&larr; Back'.html_safe, space_administrators_url(@space))

- set_bread_crumbs(:spaces_crumb, edit_space_crumb(@space), space_administrators_crumb(@space), 'Edit')

%div{ :style => 'text-align: center;' }
= render(:partial => '/layouts/invitation')

= form_tag(:method => 'post', :controller => 'space_administrators', :action => 'update', :id => '') do
  = submit_tag('Update Administrators', :class => 'btn btn-primary')
  %br
  %br

  %table#users{ :class => table_style }
    %thead
      %tr
        %th Full Name
        %th Username
        %th Email
        %th{ :width => '1%' }
    %tbody
      - @users.each do |user|
        %tr{ :id => dom_id(user) }
          %td= user.full_name
          %td= user.username
          %td= user.email
          %td= permission_widget(user, @space)

-#= has_permission_css(@space, user)
