- title('Account')
= account_major_tabs.html

%br

= render('repository_detail', :repository => @repository)

%div.row-fluid
  %div.span3
    = minor_tabs(@repository).html
  %div.span9
    %div.boxed-group
      %h3 Repository Detail
      %div.boxed-group-inner
        = render('form', :repository => @repository, :spaces => @spaces)

    = delete_button_to(@repository, :label => 'Delete this Repository')



