= title('Repositories')
- set_bread_crumbs('Repositories')

= link_to_new('New Repository', new_repository_path)

%table#repositories{:class => table_style }
  %thead
    %tr
      %th{:width => '1%'} Actions
      %th Repository
      %th Space
      %th Owner
      %th Last Commit
  %tbody
    - @repos.each do |repo|
      %tr{:id => dom_id(repo) }
        %td= link_to_admin(edit_repository_path(repo))
        %td= repo.name
        %td= repo.space.name
        %td= repo.owner.full_name
        %td= repo.committed_at.try(:to_s, :mdy)
