<% title("Repositories") %>
<% set_bread_crumbs("Repositories") %>

<script type="text/javascript">
    $(document).ready(function() {
        repositories.init();
    });
</script>


<div id="repository_filter" style="float: right; padding: 1em 2em;">
    <% form_tag(repositories_url, :method => :get) do %>
        <%= label_tag("Repositories") %>
        <%= select_tag("viewing", options_for_select(@search_options, params[:viewing])) %>
        <%= text_field_tag("search") %>
        <%= submit_tag("Filter") %>
    <% end %>
</div>






<%= link_to_new("New Repository", new_repository_path) %>
<br/><br/>

<table id="repositories" class="horizontal">
    <tr>
        <th>Repository</th>
        <th>Space</th>
        <th>Owner</th>
        <th>Last Commit</th>
        <th width="1%">Actions</th>
    </tr>

    <tbody class="highlight">
        <% @repos.each do |repo| %>
            <tr id="<%= dom_id(repo) %>">
                <td><%= link_to_admin(edit_repository_path(repo)) %></td>
                <td><%= h(repo.name) %></td>
                <td><%= h(repo.space.name) %></td>
                <td><%= h(repo.owner.full_name) %></td>
                <td><%= h(repo.committed_at.try(:to_s, :mdy)) %></td>
            </tr>
        <% end %>
    </tbody>
</table>

