<%= title(space_title(space)) %>

<script type="text/javascript">
    $(document).ready(function() {
        setup_space_confirm_update();
    });
</script>


<div class="row-fluid">
    <div class="span4">
        <%= minor_tabs(space).html %>
    </div>

    <div class="span8">
        <div class="boxed-group">
            <h3>Space Details</h3>
            <div class="boxed-group-inner">
                <%= render('form', :space => space) %>
                <%= delete_button_to([:admin, space], :label => "Delete this Space") %>
            </div>
        </div>
    </div>
</div>

<!-- <%= render("/layouts/space_confirm_update") %> -->
