<% title("Spaces (#{@spaces.length()})") %>

<div class="page_content">
  <%= link_to_new("New Space", new_admin_space_path) %>
  <br/><br/>

  <table id="admin_space_list" class="horizontal">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Size</th>
      <th>Owner</th>
      <th width="1%"></th>
    </tr>
    <tbody class="highlight">
      <% @spaces.each do |space| %>
        <tr id="<%= dom_id(space) %>">
          <td><%= h(space.name) %></td>
          <td><%= truncate(space.description) %></td>
          <td><%= h(space.size_display) %></td>
          <td><%= h(space.owner.try(:full_name)) %></td>
          <td><%= link_to_edit(edit_admin_space_path(space)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
