<%= title("Spaces (#{spaces.length})") %>


<%= link_to_new("New Space", new_admin_space_path) %>

<table id="spaces" class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Description</th>
            <th>Size</th>
        </tr>
    </thead>

    <tbody class="highlight">
        <% spaces.each do |space| %>
            <tr id="<%= dom_id(space) %>">
                <td><i class="icon-pencil"></i> <%= link_to(space.name, edit_admin_space_path(space)) %></td>
                <td><%= space.owner.try(:full_name) %></td>
                <td><%= truncate(space.description) %></td>
                <td><%= space.size_display %></td>
            </tr>
        <% end %>
    </tbody>
</table>

