<%= title(repository_title(repository)) %>

<%= render('repository_detail', :repository => repository) %>

<div class="row-fluid">
    <div class="span3">
        <%= minor_tabs(repository).html %>
    </div>

    <div class="span9">
        <div class="boxed-group">
            <h3>Repository Detail</h3>

            <div class="boxed-group-inner">
                <%= render('form', :repository => repository, :spaces => spaces) %>
                <%= delete_button_to([:admin, repository], :label => 'Delete this Repository') %>
            </div>
        </div>
    </div>
</div>
