<%= title("Repositories (#{repositories.length})") %>

<%= link_to_new("New Repository", new_admin_repository_path) %>

<table id="repositories" class="table table-bordered">
    <thead>
        <tr>
            <th>Repo</th>
            <th>Space</th>
            <th>Owner</th>
            <th>Size</th>
        </tr>
    </thead>

    <tbody>
        <% repositories.each do |repo| %>
            <tr id="<%= dom_id(repo) %>">
                <td><i class="icon-pencil"></i> <%= link_to(repo.name, edit_admin_repository_path(repo)) %></td>
                <td><%= repo.space.name %></td>
                <td><%= repo.owner.full_name %></td>

                <td class="disk_usage">
                    <%= link_to_disk_reload(repo.space_name, repo.name) %>
                    <%= image_tag("loading.gif", :size => "17x17", :style => "vertical-align: bottom;") %>
                    <span id='<%= "disk_usage_#{repo.id}" %>'> <%= repo.size_display %></span>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

