<% title(space_title(@space)) %>

<% set_bread_crumbs(:spaces_crumb, edit_space_crumb(@space), "Detail") %>


<%= render(:partial => "space_detail", :locals => { :space => @space }) %>

<%= error_count_message_for(:space) %>

<%= minor_tabs(@space).html() %>

<div class="page_content_right">
  <%= render('form') %>
</div>

<%= delete_button_to(@space, :label => "Delete this Space") %>
