- title('Account')
= account_major_tabs.html

%br

= link_to_new('New Space', new_space_path)


%table#spaces{ :class => table_style }
  %thead
    %tr
      %th Name
      %th Description
      %th Repository Count
      %th Created At
  %tbody
    - @spaces.each do |space|
      %tr{ :id => dom_id(space) }
        %td
          %i.icon-pencil
          = link_to(space.name, edit_space_path(space))
        %td= truncate(space.description)
        %td 10 Repositories
        %td= space.created_at.to_s(:ymd)
