<% title("Spaces") %>

<script type="text/javascript">
  $(document).ready(function() { spaces.init(); });
</script>


<div id="space_filter" style="float: right; padding: 1em 2em;">
  <% form_tag(spaces_url, :method => :get) do %>
      <%= label_tag("Viewing Spaces") %>
      <%= select_tag("viewing", options_for_select(@search_options, params[:viewing])) %>
      <%= text_field_tag("search") %>
      <%= submit_tag("Filter") %>
  <% end %>
</div>


<% set_bread_crumbs("Spaces") %>

<div class="page_content">
  <%= link_to_new("New Space", new_space_path) %>
  <br class="spacing"/>

  <table id="space_list" class="horizontal">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Owner</th>
      <th width="1%"></th>
    </tr>
    <tbody class="highlight">
      <% @spaces.each do |space| %>
        <tr id="<%= dom_id(space) %>">
          <td><%= h(space.name) %></td>
          <td><%= truncate(space.description) %></td>
          <td><%= h(space.owner.try(:full_name)) %></td>
          <td><%= space_link_to_edit(@user, space) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

