= title('Spaces')
- set_bread_crumbs('Spaces')

= link_to_new('New Space', new_space_path)

%table#spaces{ :class => table_style }
  %thead
    %tr
      %th Name
      %th Description
      %th Owner
  %tbody
    - @spaces.each do |space|
      %tr{ :id => dom_id(space) }
        %td= link_to(space.name, edit_space_path(space))
        %td= truncate(space.description)
        %td= space.owner.try(:full_name)


