= title(space_title(@space))
- set_bread_crumbs(:spaces_crumb, view_space_crumb(@space))



%div.row-fluid
  %div.span3
    = minor_tabs(@space).html
  %div.span9
    %div.boxed-group
      %h3 Repository Detail
      %div.boxed-group-inner
        = simple_form_for(@space) do |f|
          = f.input(:name, :input_html => {:readonly => true})
          = f.input(:owner, :as => :string, :input_html => {:value => @space.owner.full_name, :readonly => true})
          = f.input(:description, :input_html => { :rows => 3, :columns => 10, :readonly => true })
          = size_display(f)
