<%= title('SSH Public Keys') %>
<% set_bread_crumbs('SSH Keys') %>

<script type="text/javascript">
    $(document).ready(function() {
        ssh_keys.init();
    });
</script>


<%= link_to_new('New SSH Key', new_ssh_key_path) %>

<table id="ssh_keys" class="<%= table_class %>">
    <thead>
        <tr>
            <th width="1%">Actions</th>
            <th>Key Name</th>
            <th>Key</th>
            <th>Created At</th>
        </tr>
    </thead>

    <tbody>
        <% if ssh_keys.empty? %>
            <%= render('no_ssh_keys') %>
        <% end %>

        <% ssh_keys.each do |key| %>
            <tr id="<%= dom_id(key) %>">
                <td>
                    <%= delete_button(key) %>
                </td>
                <td><%= h(key.name) %></td>
                <td><%= text_area_tag('key', key.key, :disabled => true, :cols => 50, :rows => 5) %></td>
                <td><%= h(key.created_at.to_s(:mdy)) %></td>
            </tr>
        <% end %>
    </tbody>
</table>


