- title('Account')
= account_major_tabs.html

%br

= simple_form_for(ssh_key, :html => {class: 'form-horizontal'}) do |f|
  = f.input(:name)
  = f.input(:key, :input_html => { :cols => 70, :rows => 10 })

  = form_actions do
    = save_button(f)
    %span or
    = link_to_cancel(ssh_keys_url)
