= title(repository_title(@repository))

= link_to(icon_left_arrow('Back'), repository_collaborators_path(@repository))

%div
= render(:partial => '/layouts/invitation')

= form_tag(:method => 'post', :controller => 'collaborators', :action => 'update') do
  = submit_tag('Update Collaborators', :class => 'btn btn-primary')
  %br
  %br

  %table#users{ :class => table_style }
    %thead
      %tr
        %th{ :width => '15%' } Permission
        %th User

    %tbody
      - @users.each do |user|
        %tr{ :id => dom_id(user) }
          %td
          %td
            %span{ :style => "padding-right: 4em;" }= user.name
            %span{ :style => "font-style: oblique;" }= "( #{user.username} / #{user.email} )"
