= title(repository_title(@repo))
- set_bread_crumbs(:repositories_crumb, edit_repository_crumb(@repo), repository_collaborators_crumb(@repo), "Edit")
= link_to('&larr; Back'.html_safe, repository_collaborators_path(@repo))

%div
= render(:partial => '/layouts/invitation')

= form_tag(:method => 'post', :controller => 'collaborators', :action => 'update', :id => '') do
  = submit_tag('Update Collaborators', :class => 'btn btn-primary')
  %br
  %br

  %table#users{ :class => table_style }
    %thead
      %tr
        %th Full Name
        %th Username
        %th Email
        %th{ :width => '1%' }
    %tbody
      - @users.each do |user|
        %tr{ :id => dom_id(user) }
          %td= user.full_name
          %td= user.username
          %td= user.email
          %td
