= title(repository_title(@repository))

= render('/repositories/repository_detail', :repository => @repository)

%div.row-fluid
  %div.span3
    = minor_tabs(@repository).html
  %div.span9
    %div.boxed-group
      %h3 Collaborators
      %div.boxed-group-inner
        = link_to('Edit Collaborators', edit_repository_collaborators_url(@repository), :class => 'btn btn-small btn-primary')
        %br
        %br
        %table#collaborators{ :class => table_style }
          %thead
            %tr
              %th Full Name
              %th Username
              %th Email
              %th Admin?
              %th Permission
          %tbody
            - @collaborations.each do |collaboration|
              %tr{ :id => dom_id(collaboration) }
                %td= collaboration.user.full_name
                %td= collaboration.user.username
                %td= collaboration.user.email
                %td &nbsp;
                %td= collaboration.permission
