<%= title(space_title(space)) %>

<%= render("/layouts/invitation") %>

<%= form_tag(:method => "post", :controller => "admin/space_administrators", :action => "update", :id => "") do %>
    <%= submit_tag("Update Administrators", :class => "btn btn-primary") %> or
    <%= link_to("Back", admin_space_administrators_url(space)) %>
    <br/><br/>

    <table id="users" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Permission</th>
            </tr>
        </thead>
        <tbody>
            <% users.each do |user| %>
                <tr id="<%= dom_id(user) %>" <%= has_permission_css(space, user) %>>
                    <td><%= user.full_name %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= permission_widget(user, space) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

