<%= title(space_title(space)) %>

<div class="row-fluid">
    <div class="span3">
        <%= minor_tabs(space).html %>
    </div>


    <div class="span9 boxed-group">
        <h3>Administrators</h3>

        <div class="boxed-group-inner">
            <%= link_to_new("Edit Administrators", edit_admin_space_administrators_url(space, :id => "")) %>
            <br class="spacing"/>

            <table id="administrators" class="table table-condensed table-hover">
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Space Owner?</th>
                </tr>
                <tbody>
                    <% administrations.each do |administration| %>
                        <% admin = administration.user %>
                        <tr id="<%= dom_id(administration) %>">
                            <td><%= admin.username %></td>
                            <td><%= admin.full_name %></td>
                            <td><%= admin.email %></td>
                            <td><%= boolean_check_mark(administration.owner?) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
