<%= title(user_title(user)) %>

<script type="text/javascript">
    $(document).ready(function() {
        admin.ssh_keys.init();
    });
</script>

<div class="row-fluid">
    <div class="span3">
        <%= user_left_nav_tabs(user).html %>
    </div>

    <div class="span9 boxed-group">
        <h3>SSH Keys</h3>

        <div class="boxed-group-inner">
            <%= link_to('Add SSH Key', new_admin_user_ssh_key_path(user), :class => "btn btn-small btn-primary") %>
            <br/><br/>
            <table id="ssh_keys" class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Key</th>
                        <th>Created At</th>
                    </tr>
                </thead>

                <tbody class="highlight">
                    <% ssh_keys.each do |key| %>
                        <tr id="<%= dom_id(key) %>">
                            <td>
                                <%= link_to("Delete", { :action => :destroy, :user_id => user, :id => key },
                                            :class => "remote-delete btn btn-danger btn-mini") %>
                            </td>
                            <td><%= key.name %></td>
                            <td><%= truncate(key.key, :length => 50) %></td>
                            <td><%= key.created_at.to_s(:mdy) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>





