<h3>Search Results</h3>

<% if users.empty? %>
  <p>No results were found</p>
<% else %>
  <p>Click on the user's 'Ldap Uid' to populate the form with their data.</p>

  <table id="user_search_results" class="horizontal">
    <tr>
      <th>Add</th>
      <th>Ldap Uid</th>
      <th>Full Name:</th>
      <th>Calnet Id</th>
      <th>Email:</th>
      <th>Department:</th>
    </tr>
    <tbody class="highlight">
      <% users.each do |u| %>
        <tr id="user_<%= u.ldap_uid %>">
          <td width="1%"><%= add_link(u) %></td>
          <td><%= u.ldap_uid %></td>
          <td><%= u.full_name %></td>
          <td><%= u.username %></td>
          <td><%= u.email %></td>
          <td><%= u.department %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
