<%= title("Users (#{users.length})") %>

<%= link_to_new("New User", new_admin_user_path) %>

<table id="users" class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Ldap Uid</th>
            <th>Last SVN Access</th>
            <th>Last Login</th>
            <th>Admin?</th>
        </tr>
    </thead>

    <tbody class="highlight">
        <% users.each do |user| %>
            <tr id="<%= dom_id(user) %>">
                <td class="narrow"><%= link_to_edit(edit_admin_user_path(user)) %></td>
                <td><%= user.full_name %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.ldap_uid %></td>
                <td><%= date_or_none(user.last_svn_access, :mdy) %></td>
                <td><%= date_or_none(user.last_login, :mdy) %></td>
                <td><%= boolean_check_mark(user.admin) %></td>
            </tr>
        <% end %>
    </tbody>
</table>

