= title("Space: #{space.name}")

%div.row-fluid
  %div.span3
    = minor_tabs(space).html
  %div.span9
    %div.boxed-group
      %h3 Deploy Keys
      %div.boxed-group-inner
        = link_to_new('New Key', new_space_deploy_key_url(space))
        - unless ssh_keys.empty?
          %table#ssh_keys{ :class => table_style }
            %thead
              %tr
                %th{ :width => '1%'}
                %th Key Name
                %th Created At
            %tbody
              - ssh_keys.each do |key|
                %tr{ :id => dom_id(key) }
                  %td= link_to('Delete', space_deploy_key_path(space, key), :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger')
                  %td= key.name
                  %td= key.created_at.to_s(:mdy)
