<div class="navbar">
    <div class="brand-wrapper">
        <%= link_to("Code@Berkeley &rarr; Admin", root_url, :class => "brand") %>
    </div>

    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="container-fluid nav-collapse">
                <ul class="nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                            <%= current_user.full_name %> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to("Profile", edit_profile_url) %></li>
                            <li><%= link_to("SSH Public Keys", ssh_keys_url) %></li>
                            <li><%= link_to("Request Repository Access", repository_directory_url) %></li>
                            <li><%= link_to("Repository Permissions", repository_directory_url(:permission => "commit_or_read")) %></li>
                            <li><%= link_to("Manage My Repositories", repositories_url) %></li>
                            <li><%= link_to("Manage My Spaces", spaces_url) %></li>
                            <li class="divider"><hr/></li>
                            <% if user_is_admin? %>
                                <li><%= link_to("Code@Berkeley Admin", admin_root_url) %></li>
                            <% end %>
                        </ul>
                    </li>

                    <li><%= link_to("Dashboard", dashboard_url) %></li>
                    <li><%= link_to("Help", help_url) %></li>
                    <li><%= link_to("Log Out", logout_url, :confirm => "Click 'OK' to confirm logout") %></li>
                </ul>
            </div>
        </div>
    </div>
</div>


