
<ul id="log_in_out_widget">
  <% logged_in_content do %>
    <li class="first">
      <button id="flat"><%= current_user.full_name %></button>
      <div id="search-engines" class="hidden fg-menu">
        <ul>
          <li><%= link_to("Profile", edit_profile_url) %></li>
          <li><%= link_to("SSH Public Keys", ssh_keys_url) %></li>
          <li><%= link_to("Request Repository Access", repository_directory_url) %></li>
          <li><%= link_to("Repository Permissions", repository_directory_url(:permission => "commit_or_read")) %></li>

          <hr />

          <li><%= link_to("Manage My Repositories", repositories_url) %></li>
          <li><%= link_to("Manage My Spaces", spaces_url) %></li>

          <% if current_user.admin? %>
            <hr />
            <li><%= link_to('Code@Berkeley Admin', admin_root_url) %></li>
          <% end %>
        </ul>
      </div>
    </li>
    <li><%= link_to("Dashboard", dashboard_url) %></li>
    <li><%= link_to("Help", help_url) %></li>
    <li><%= link_to("Log Out", logout_url(), :confirm => "Click 'OK' to confirm logout") %></li>
  <% end %>

  <% logged_out_content do %>
    <li><strong><%= link_to("(CAS) login", root_url()) %></strong></li>
  <% end %>
</ul>

