<!DOCTYPE html>

<html lang="en">
    <head>
        <%= stylesheet_link_tag('application', :media => 'all') %>
        <%= csrf_meta_tag %>

        <title><%= @page_title %> - Code@Berkeley -> Admin</title>
    </head>


    <body>
        <%= render('layouts/admin_site_banner') %>

        <div class="container">
            <div class="row">
                <div class="span12">
                    <%= flash_messages %>
                </div>

                <div class="span12">
                    <%= major_tabs_html %>
                </div>
            </div>

            <%= yield %>

            <footer class='pull-right'><%= App::VERSION %></footer>
        </div>

        <%= javascript_include_tag("application") %>
        <%= yield(:page_javascript) %>
    </body>
</html>
