!!! 5
%html{ :lang => 'en' }
  %head
    = stylesheet_link_tag('application', :media => 'all')
    = csrf_meta_tag
    %title= "#{@page_title} - Code@Berkeley"

  %body
    = render('layouts/admin_site_banner')
    %div.container-fluid
      %div.row-fluid
        = flash_messages
        = major_tabs.html
      = yield

      %footer.pull-right= App::VERSION

    = javascript_include_tag('application')
    = yield(:page_javascript)
